<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ToxicBakery.app.screenshot_redaction">

    <application>

        <activity android:name="com.ToxicBakery.app.screenshot_redaction.ActivityTest"/>

    </application>

</manifest>
